<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181736925225-okr685tosoce82dif9hc06cn2mddqi46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181736925225-okr685tosoce82dif9hc06cn2mddqi46</string>
	<key>API_KEY</key>
	<string>AIzaSyD0trXE2JYmn5MdRTKfBPhV1WOCNu3dBIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>181736925225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.virtual.usti.virtualAttendance</string>
	<key>PROJECT_ID</key>
	<string>kohistan-efdcc</string>
	<key>STORAGE_BUCKET</key>
	<string>kohistan-efdcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181736925225:ios:7cdaa09e00bfe15d2c1438</string>
</dict>
</plist>